@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: #eee;
}

.wrapper {
  position: relative;
  width: 90%;
  max-width: 700px;
  max-height: 90%;
  margin: auto;
  display: flex;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 15px #ccc;
  transform: translateY(15%);
  flex-wrap: wrap;
  min-height: 500px;
}
.wrapper > div {
  padding: 30px;
  flex: 1 1 350px;
  position: relative;
}
.wrapper .left-sec {
  background: url("../images/backdrop-img.png");
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper .left-sec img.logo {
  position: relative;
  max-width: 100px;
}
.wrapper .left-sec h1 {
  font-size: 22px;
  color: #fff;
  margin-bottom: 20px;
}
.wrapper .left-sec h1 span {
  font-size: 28px;
}
.wrapper .left-sec h5 {
  color: #fff;
}
.wrapper .right-sec h2 {
  font-size: 28px;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  color: #720f11;
}
.wrapper .right-sec form label {
  color: #720f11;
  font-weight: 700;
}
.wrapper .right-sec form input,
.wrapper .right-sec form select {
  border: none;
  outline: 0;
  border-bottom: 1px solid #ccc;
  padding: 2px 10px;
  color: #720f11;
  font-size: 18px;
  transition: 0.2s ease-in;
}
.wrapper .right-sec form input:focus,
.wrapper .right-sec form select:focus {
  outline: 0;
  border-bottom: 2px solid #720f11;
}
.wrapper .right-sec form > div {
  position: relative;
  display: grid;
  gap: 5px;
}
.wrapper .right-sec form > div:first-child {
  margin-bottom: 40px;
}
.wrapper .right-sec form span {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.wrapper .right-sec form a {
  font-size: 13px;
  text-decoration: none;
  color: #720f11;
  transition: 0.4s ease-in;
}
.wrapper .right-sec form a:hover {
  font-weight: 700;
}
.wrapper .right-sec form button {
  position: relative;
  margin-inline: auto;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 40px;
  font-size: 18px;
  border: none;
  background-color: #720f11;
  color: #fff;
  outline: 0;
  font-weight: 700;
  cursor: pointer;
  transition: 0.4s ease-out;
  border-radius: 2px;
}
.wrapper .right-sec form button:hover {
  transform: translateX(-50%) scale(0.98);
}
.wrapper .right-sec.signup-form form > div:not(:last-child) {
  margin-bottom: 20px;
}
.wrapper .right-sec.signup-form form > div.last {
  margin-bottom: 0px;
}

nav {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #720f11;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
nav .logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
nav .logo img {
  max-height: 80px;
  position: relative;
}
nav h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
nav .log {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
}
nav .log a {
  background-color: #390809;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.4s ease;
}
nav .log a:hover {
  color: #390809;
  background-color: #fff;
  transform: scale(0.98);
}

.container {
  position: relative;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}
.container .menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .menu a {
  position: relative;
  padding: 10px 25px;
  background-color: #720f11;
  color: #fff;
  transition: 0.4s ease;
}
.container .menu a:hover {
  transform: scale(0.98);
}
.container table {
  width: 100%;
  position: relative;
  margin-top: 30px;
}
.container table tr {
  outline: 1px solid #720f11;
  padding: 10px 0px;
}
.container table td,
.container table th {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  font-weight: 400;
  font-size: 14px;
  color: #720f11;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}
.container table td input,
.container table th input {
  padding: 5px 10px;
  outline: 0;
  border: 0;
  background-color: #720f11;
  color: #fff;
  cursor: pointer;
  transition: 0.4s ease;
}
.container table td input:hover,
.container table th input:hover {
  transform: scale(0.98);
}
.container table th {
  font-weight: 600;
  text-transform: uppercase;
  background-color: rgba(114, 15, 17, 0.1568627451);
  font-size: 16px;
}
.container h2.bottom {
  position: relative;
  margin-top: 50px;
}
.container form:not(.del) {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 30px;
}
.container form:not(.del) .grid {
  display: grid;
  grid-template-columns: 300px 300px;
  gap: 20px;
}
.container form:not(.del) > div {
  display: grid;
}
.container form:not(.del) #userinfodiv,
.container form:not(.del) #customer {
  display: none;
}
.container form:not(.del) #userinfodiv.show,
.container form:not(.del) #customer.show {
  display: block;
}
.container form:not(.del) label {
  color: #720f11;
  font-weight: 700;
}
.container form:not(.del) input,
.container form:not(.del) select {
  border: none;
  outline: 0;
  border-bottom: 1px solid #ccc;
  padding: 2px 10px;
  color: #720f11;
  font-size: 18px;
  transition: 0.2s ease-in;
  background-color: transparent;
  margin-bottom: 20px;
  width: 300px;
  max-width: 100%;
}
.container form:not(.del) input:focus,
.container form:not(.del) select:focus {
  outline: 0;
  border-bottom: 2px solid #720f11;
}
.container form:not(.del) button {
  position: relative;
  padding: 15px 30px;
  font-size: 16px;
  background-color: #720f11;
  border: none;
  outline: 0;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.4s ease;
}
.container form:not(.del) button:hover {
  transform: scale(0.98);
}
.container form:not(.del) .btns {
  margin-top: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container form:not(.del) .btns a {
  padding: 15px 30px;
  font-size: 16px;
  color: #720f11;
  border: none;
  outline: 0;
  background-color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid #720f11;
  transition: 0.4s ease;
}
.container form:not(.del) .btns a:hover {
  transform: scale(0.98);
}

.bill-reader form select#customer {
  display: block !important;
}

.container.customer {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  max-width: 400px;
}
.container.customer p {
  margin: 0;
  font-size: 16px;
}
.container.customer p:last-child {
  margin-top: 10px;
}
.container.customer span {
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */